{% extends 'accounts/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                A password reset confirmation email has been sent to the email address
                you have provided. Open the link indicated in the email to reset your
                password.
                </p>
                <p>
                You may go back to the
                <a href="{% url 'index' %}">home page</a> or <a href="{% url 'accounts:login' %}">login</a>
                to your account.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
