{% extends 'accounts/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if not validlink %}
                <p>This password reset link in no longer valid.</p>
                <p>
                You may go back to the
                <a href="{% url 'index' %}">home page</a> or <a href="{% url 'accounts:login' %}">login</a>
                to your account or request another
                <a href="{% url 'accounts:password_reset' %}">password reset</a>.
                </p>
                {% else %}
                <form class="form-horizontal" action="" method="post" onsubmit="">
                    {% csrf_token %}
                    <fieldset>
                        <legend style="text-align: center;">Enter new password</legend>

                        <div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
                            <label class="col-md-4 control-label">{{ form.new_password1.label }}</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password"
                                    id="{{ form.new_password1.id_for_label }}"
                                    name="{{ form.new_password1.html_name }}">
                                {% for error in form.new_password1.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
                            <label class="col-md-4 control-label">{{ form.new_password2.label }}</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password"
                                    id="{{ form.new_password2.id_for_label }}"
                                    name="{{ form.new_password2.html_name }}">
                                {% for error in form.new_password2.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="hidden" name="next"
                                    value="{% if next %}{{ next }}{% else %}{% url 'accounts:login' %}{% endif %}" >
                                <input type="submit" class="btn btn-primary btn-raised btn-md"
                                    value="Reset" >
                            </div>
                        </div>
                    </fieldset>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
