{% extends 'accounts/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" onsubmit="">
                    {% csrf_token %}
                    <fieldset>
                        <legend style="text-align: center;">Profile update</legend>

                        <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
                            <label class="col-md-4 control-label">{{ form.first_name.label }}</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text"
                                    value="{{ form.first_name.value }}"
                                    id="{{ form.first_name.id_for_label }}"
                                    name="{{ form.first_name.html_name }}">
                                {% for error in form.first_name.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
                            <label class="col-md-4 control-label">{{ form.last_name.label }}</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text"
                                    value="{{ form.last_name.value }}"
                                    id="{{ form.last_name.id_for_label }}"
                                    name="{{ form.last_name.html_name }}">
                                {% for error in form.last_name.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                            <label class="col-md-4 control-label">{{ form.email.label }}</label>
                            <div class="col-md-8">
                                <input class="form-control" type="email"
                                    value="{{ form.email.value }}"
                                    id="{{ form.email.id_for_label }}"
                                    name="{{ form.email.html_name }}">
                                {% for error in form.email.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary btn-raised btn-md"
                                    value="Update">
                                <a class="btn btn-default btn-raised btn-md"
                                    href="{% url 'index' %}">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
